{% for gite in gites %}
    <li style="margin-left:15px;margin-right:12px;"> <a href="{{ path('gite', {'slug':gite.slug}) }}">  {{ gite.nom }}</a> </li>
{% endfor %}

<!--
<li class="active"><a href="#">Les Rosiers</a></li>
<li><a href="#about">Les Jonquilles</a></li>
<li><a href="#contact">Les Coquelicots</a></li>
-->