
.pastillegite:hover {


    border:6px #8B9C85 solid;
    cursor:pointer;

}
.pastillegite {


    border:6px transparent solid;

}

.container-gite-detail{margin-top:80px; margin-bottom:0px;}

.liengris {
    color:#5a5a5a;
    text-decoration:none !important;
}
.ulmargevertical10 {
    margin-top:10px;
    margin-left:10px;

}

.ulmargevertical10 li a{
    margin-bottom:10px;
    width:100%;
}

.partage{
    position:absolute;
    background-color: #f2f2f2;
    padding:4px;
    border:1px solid #ccc;
    margin:10px;
    width:200px;
    min-height:160px;
    z-index:50000;
    border-radius:4px;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    font-size:14px; line-height: 18px;
}

.btn-detail-menu {
    margin-left:0px;
    margin-bottom: 1px !important;
    border-bottom:1px solid #aaa;
    overflow:hidden;
    box-sizing: content-box;
    }
.btn-detail-menu li {
    padding-left:0px;
    padding-right:0px;
    margin:0px;
    margin-right:-2px;

    }
.btn-detail-menu li a {
    background-color:#E0E0E0;
    border-radius:0px;
    padding-right:28px;
    padding-left:28px;
    font-size:12px;



}
.btn-detail-menu li a:hover {
    background-color: rgba(130, 164, 122, 0.52);
   }