{% extends "::layout/layout.html.twig" %}
{% block body %}
<form action="{{ path('ajouteMedia') }}" method="POST" {{ form_enctype(form) }} >
    {{ form_widget(form) }}
    <input type="submit" value="envoyer" >
</form>
{% endblock %}